@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li,
a,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-decoration: none;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: crimson;
}

.logo {
  cursor: pointer;
  width: 4cm;
  height: 2cm;


}



.nav__links {
  list-style: none;
}

.nav__links li {

  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;

}

.nav__links li a:hover {
  color: black;
}




.titulo {
  background-color: white;
  margin-left: 50px;
  height: 1px;
}

.texto {

  margin-top: 20px;
  height: 5cm;
  text-align: center;
  padding: 15px;


}

.banner {
  margin-top: 50px;
}

.bannerImg {
  height: 6cm;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: crimson;
  height: 50px;
  font-size: 25px;

}

.contenido {
  text-align: start;


}

.tarjeta {
  display: flex;
  padding: 2px 16px;
  background-color: lightpink;
  margin: 20px;
  box-shadow: 0 2px 6px 0 rgba(95, 6, 65, 0.2);
  transition: 0.3s;
  height: 5cm;
  text-decoration: wavy;





}

p {
  color: black;
  font-size: 20px;
}

.tarjeta:hover {
  box-shadow: 0 4px 8px 0 rgba(77, 23, 59, 0.2);

}

img {
  width: 100%;
  height: 180px;


}



.imagen {
  width: 6cm;

}

.titulos {
  width: 4cm;
  margin-left: 10px;


}

.datos {
  width: 35cm;

}